# Firebase Configuration for Jeev Jantu Vihar Companion App
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB_jjvBhopalSanctuaryKey2026
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=jjv-bhopal-shelter.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=jjv-bhopal-shelter
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=jjv-bhopal-shelter.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=9826012026
EXPO_PUBLIC_FIREBASE_APP_ID=1:9826012026:android:bhopaljjvcompanion2026
